.el-upload--picture-card {
  width: 90px;
  height: 90px;
  line-height: 90px;
}

.el-upload-list--picture-card .el-upload-list__item {
  width: 90px;
  height: 90px;
  line-height: 90px;
}

.el-upload-list__item.is-success .el-upload-list__item-status-label {
  display: none;
}

/* .el-upload-list--picture-card .el-upload-list__item-status-label i {
    position: absolute;
    top: 11px;
    right: 15px;
    margin-top: 0;
} */

.el-upload-list--picture-card .el-upload-list__item-actions span i {
  font-size: 20px;
  position: absolute;
  top: 12px;
  left: 12px;
}

.el-upload-list--picture-card .el-upload-list__item-actions {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .3);
}

.el-upload-list--picture-card .el-upload-list__item-actions {
  opacity: 1;
}

.el-upload-list--picture-card .el-upload-list__item-actions span {
  display: inline-block;
}

.el-upload-list--picture-card .el-upload-list__item-actions span i {
  font-size: 20px;
  position: absolute;
  top: 2px;
  left: 66px;
}

.el-upload-list--picture-card .is-ready {
  display: none;
}
.picker-item.picker-selected {
  color: #ff6f59;
}
.picker-item {
	color: #000;
}